<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= farm.name %></title>
  </head>
  <body>
    <h1><%= farm.name %></h1>
    <ul>
      <li>City: <%= farm.city %></li>
      <li>Email: <%=farm.email %></li>
    </ul>
    <h2>products</h2>
    <% for( let product of farm.produce ) { %>
    <li><a href="/produce/<%=product._id %>"><%=product.name%></a></li>
    <% } %>
    <a href="/farms/<%=farm._id %>/produce/new">Add product</a>
    <a href="/farms">All Farms</a>
    <form action="/farms/<%=farm._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
